@import "tailwindcss";

@theme {
  --color-primary: #1C1917;
  --color-active: #78716C;
  --color-brand-primary: #1C1917;
  --color-brand-accent: #1775E0;
  --color-brand-soft: #F8F8F8;
  --color-semantic-system: #1775E0;
  --color-semantic-insight: #6049E7;
  --color-semantic-success: #18794E;
  --color-semantic-attention: #F77E2C;
  --color-semantic-danger: #E5484D;
  --transition-duration-120: 120ms;
}

:root {
  --brand-primary: #1C1917;
  --brand-primary-rgb: 28, 25, 23;
}
